################################################################################
# Copyright Notice and Proprietary Information
# 
# Copyright (c)2007-2009 ARM Limited and Cadence Design Systems, Inc. All rights reserved.
# 
# The accompanying software and documentation contain confidential and 
# proprietary information that is the property of ARM Limited and its 
# licensors.  No part of the software or documentation may be reproduced, 
# transmitted, or translated in any form or by any means, electronic, 
# mechanical, optical or otherwise without the prior written permission 
# of ARM Limited.  Please refer to the license agreement under which you 
# received this software for details on your applicable license rights, 
# restrictions and conditions which shall control over the terms set 
# forth herein.
# 
# Right to Copy Documentation
# Except with the prior written permission of ARM Limited copies of the 
# documentation shall only be made for internal use.
# 
# Disclaimer
# THE ACCOMPANYING SOFTWARE AND DOCUMENTATION IS PROVIDED "AS IS" WITHOUT 
# WARRANTY OF ANY KIND.  ARM LIMITED AND ITS LICENSORS HEREBY DISCLAIM 
# ALL EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE 
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, 
# TITLE, AND NON INFRINGEMENT. 
# 
# IN NO EVENT SHALL ARM LIMITED OR ITS LICENSORS BE LIABLE TO YOU OR ANY 
# OTHER PARTY FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, 
# OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF 
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR 
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR 
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THE ACCOMPANYING 
# SOFTWARE OR DOCUMENTATION, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH 
# DAMAGE.
#  
################################################################################
# RM Version: CORTEXM0 Encounter7.1usr2 RTL_VERSION
################################################################################
# File Name      :cortexm0_atpg.config
# RM Release     :RTL_VERSION
# Purpose       : ATPG script config file
#
# RM version     :7.1.2
#
#################################################################################


#*******************************************************************************
#      Values specified should be lower case unless they refer to a name
#         (like TESTMODE=FULLSCAN).
#
#-------------------------------------------------------------------------------
#                         Script Controls
#-------------------------------------------------------------------------------
SETUPVERSION=2                        # Defines the level of the setup file.
                                      #  Please do not change.
                                      #
RESTART=build_model                   # To restart in the middle, choose one:
                                      #       build_model     (the beginning)
                                      #       build_testmode
                                      #       read_sdc        (also does read_sdf)
                                      #       atpg
                                      #       write_vectors
                                      #   (required)
                                      #
EXITBEFORE=end                        # To exit script early, choose one:
                                      #       build_model     (the beginning)
                                      #       build_testmode
                                      #       read_sdc        (also does read_sdf)
                                      #       atpg
                                      #       write_vectors
                                      #       end             (the end)
                                      #   (required)
                                      #
REMOVE_OLD_LOGFILES=no                # yes, no - clears log file directory
                                      #   (required)
                                      #
SCRIPTFILE=../scripts/cortexm0_atpg_command_script.ett
                                      # filename to contain script of ET commands
                                      #  invoked during this run.
                                      #
CONTINUE_WITH_SEVERE=yes              # yes, no - continue with run even if severe
                                      #  warnings issued (required)
                                      #
EXECUTE=yes                           # yes - executes the commands as it runs
                                      # no - allows storing commands in script file
                                      #      without executing them first (required)
                                      #
LOGFILE=../logs/cortexm0_atpg.log  
                                      # Log file to store script output
#---------------------------------------------------------------------------------
#                         Building Logic and Fault Models
#---------------------------------------------------------------------------------
WORKDIR=./                            # specify directory to store data files (required)
                                      #
CREATEBLACKBOXES=yes                  # yes, no - yes automatically creates blackbox
                                      #   for missing cells (default no) (optional)
BLACKBOXOUTPUTS=x                     # z, x - tie value for blackbox outputs (default x)
                                      #  (optional)
INDUSTRYCOMPATIBLE=yes                # yes, no (aligns fault models w/other tools)
                                      #  (default no) (required)
CELLFAULTS=no                         # yes, no (ie full fault model) (default no)
                                      #  (optional)
NOFAULTS=                             # model edit file w/nofault statements
                                      #  (optional)
#---------------------------------------------------------------------------------
#                         Building Logic and Fault Models Advanced
#                          (needed only in special situations)
#---------------------------------------------------------------------------------
OPTIMIZE=                             # optimize logic model for improved performance:
                                      #    none - no optimization
                                      #    dangling - remove dangling logic
                                      # default: dangling for industry compatible models
                                      #           no optimization, otherwise
                                      #
VLOGPARSER=                           # select which verilog parser to use:
                                      #    IEEEstandard - verilog 2001
                                      #    et - verilog with old //! style attributes
#---------------------------------------------------------------------------------
#                         Identifying Test Structures (Test Mode)
#---------------------------------------------------------------------------------
ASSIGNFILE=../data/cortexm0_assign 
                                      # specify file containing test function pins
                                      #  (clocks, scan enables, etc.)
                                      # when using compression, this should be the fullscan
                                      #  test mode assign file (required)
                                      #
COMPRESSION=none                      # none - contains no compression
                                      # opmisrplus - uses OPMISRPLUS compression
                                      # opmisrplus_topoff - uses OPMISRPLUS compression
                                      #      with ATPG topoff using the fullscan mode
                                      # xor - uses XOR compression
                                      # xor_topoff - uses XOR compression
                                      #      with ATPG topoff using the fullscan mode
                                      #
COMPRESSIONASSIGNFILE=                # specify file containing test function pins
                                      #  (clocks, scan enables, etc.)
                                      # for a compression test mode (OPMISRPLUS_TIMED,
                                      # COMPRESSION_TIMED, etc.
                                      #  (required for compression modes)
#---------------------------------------------------------------------------------
#                         Identifying Test Structures Advanced
#                          (needed only in special situations)
#---------------------------------------------------------------------------------
TESTMODE=                             # testmode name
                                      #  See $Install_Dir.defaults.rules.modedef for
                                      #  testmodes supplied with Encounter Test
                                      # when using compression, this should be the fullscan
                                      #  testmode name
                                      # defaults to FULLSCAN_TIMED if not specified
                                      #  (optional)
                                      #
TDRPATH=                              # if overriding for real tester TDR
                                      #  See <$Install_Dir>.defaults.rules.tdr for
                                      #  TDRs supplied with Encounter Test (optional)
                                      #
MODEDEFPATH=                          # if overriding with user specified mode definition
                                      #  See <$Install_Dir>.defaults.rules.modedef for
                                      #  modedefs supplied with Encounter Test
                                      #  (optional)
                                      #
SEQDEF=                               # special modeinit or test sequence file
                                      #  (optional)
                                      #
COMPRESSIONTESTMODE=                  # compression test mode name
                                      #   defaults if not specified, based on COMPRESSION
                                      #
COMPRESSIONSEQDEF=                    # special modeinit or test sequence file
                                      # for a compression test mode. (optional)
#---------------------------------------------------------------------------------
#                         ATPG Specific Controls
#---------------------------------------------------------------------------------
ATPGTYPE=dynamic_topoff               # dynamic, static, dynamic_topoff
                                      #  (required)
                                      #
EFFORT=                               # ATPG effort: low, medium, high (default low)
                                      #  (optional)
                                      #
COMPACTION=                           # ATPG compaction:low, medium, high (default medium)
                                      #  (optional)
                                      #
SORTPATTERNS=yes                      # yes, no (for extra compaction)
                                      #  (required)
#---------------------------------------------------------------------------------
#                         ATPG Specific Controls Advanced
#                       (needed only in special situations)
#---------------------------------------------------------------------------------
STATICSEQUENCES=                      # for special ATPG sequences (eg, OPCG)
                                      #  (optional)
                                      #
LINEHOLD=                             # user linehold file (optional)
                                      #
MAXCPUTIME=                           # maximum time for ATPG steps (8 hours)
                                      #  (optional)
#---------------------------------------------------------------------------------
#           Fixed Time, At-Speed, Faster Than At-Speed Controls
#---------------------------------------------------------------------------------
SDCPATH=                              # fixed time, at-speed, faster at-speed
                                      #  (optional)
SDCNAME=                              # fixed time, at-speed, faster at-speed
                                      #  (optional)
SDFPATH=                              # at-speed, faster at-speed
                                      #  (optional)
SDFNAME=                              # at-speed, faster at-speed
                                      #  (optional)
CLOCKCONSTRAINTS=                     # List of clock domains and frequencies
                                      # at-speed, faster at-speed (fastest)
                                      #  (optional)
CLOCKCONSTRAINTS2=                    # List of clock domains and frequencies
                                      # faster at-speed (next fastest)
                                      #  (optional)
CLOCKCONSTRAINTS3=                    # List of clock domains and frequencies
                                      # faster at-speed (slowest)
                                      #  (optional)
#---------------------------------------------------------------------------------
#           Fixed Time, At-Speed, Faster Than At-Speed Controls Advanced
#                     (needed only in special situations)
#---------------------------------------------------------------------------------
DYNAMICSEQUENCES=                     # for special ATPG sequences (eg, OPCG)
                                      #  (optional)
DYNAMICCOVERAGE=intradomain           # intradomain, alldomains
                                      #  (required)
ALLOWLASTSHIFTLAUNCH=no               # yes, no - (no-->funcrelease=yes)
                                      #  (required)
DELAYTESTTHRUMEMORIES=no              # yes, no - (additional ATPG step:at-speed only)
                                      #  (required)
EARLYMODE=                            # linear combination of delays used for timing checks
                                      #   that use early mode timing (optional)
                                      #   format: (x,y,z) where x,y and z add up to 1
                                      #   e.g., (0,1,0) or (0,0.5,0.5) etc.
LATEMODE=                             # linear combination of delays used for timing checks
                                      #   that use late mode timing (optional)
                                      #   format: (x,y,z) where x,y and z add up to 1
                                      #   e.g., (0,1,0) or (0,0.5,0.5) etc.
TEMPLATESOURCE=                       # used by read_celldelay_template to identify
                                      #  list of required delays for a cell
                                      #  (to fix problems w/missing delays) (optional)
MAXSEQ=99                             # maximum number of sequences for ATPG
#---------------------------------------------------------------------------------
#                         Pattern Output Controls
#---------------------------------------------------------------------------------
WRITEVERILOG=yes                      # yes,no - write verilog for ncsim
                                      #  (required)
WRITESTIL=no                          # yes,no - write STIL patterns
                                      #  (required)
WRITEWGL=no                           # yes,no - write WGL patterns
                                      #  (required)
#---------------------------------------------------------------------------------
#                         Design and Library specific files
#---------------------------------------------------------------------------------
